name: Build and Push Docker

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: {}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Aliyun Registry
        if: ${{ secrets.ALIYUN_REGISTRY && secrets.ALIYUN_USERNAME && secrets.ALIYUN_PASSWORD }}
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ secrets.ALIYUN_REGISTRY && secrets.IMAGE_NAME && secrets.ALIYUN_NAMESPACE }}
          tags: |
            ${{ secrets.ALIYUN_REGISTRY }}/${{ secrets.ALIYUN_NAMESPACE }}/${{ secrets.IMAGE_NAME }}:latest
            ${{ secrets.ALIYUN_REGISTRY }}/${{ secrets.ALIYUN_NAMESPACE }}/${{ secrets.IMAGE_NAME }}:${{ github.sha }}

